<section id="contacts" class="cont-sec contacts-sec">
  <div class="sec-title">
    <div class="container">
      <h2>Contacts</h2>
    </div>
  </div>
  <div class="contacts">
    <div class="container">
      <p>
        Email:
        <span class="email">k.fujikawa1014 [at] gmail.com</span><br>
      </p>
      <p>
        Linkedin:
        <a href="https://www.linkedin.com/pub/kazuki-fujikawa/50/621/87b">https://www.linkedin.com/pub/kazuki-fujikawa/50/621/87b</a>
      </p>
    </div>
  </div>
</section>
