<section id="softwares" class="cont-sec portfolio-sec">
  <div class="sec-title">
    <div class="container">
      <h2>Softwares</h2>
    </div>
  </div>
  <div class="container">
    <div class="showcase">
      <ul class="works clearfix">
        <li data-id="id-1">
          <a href="#slideshow" class="btn-scroll">
            <img src="/assets/img/word2vec_playground.png" width="200" height="200" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="slideshow">
    <div class="slideshow cont-b">
      <div class="container">
        <div class="slideshow-nav">
          <div class="cycle-prev btn-2">Prev</div>
          <div class="cycle-next btn-2">Next</div>
        </div>
        <div class="cycle-slideshow slides" data-cycle-fx="fade" data-cycle-timeout="0" data-cycle-slides=">
          div" data-cycle-prev=".cycle-prev" data-cycle-next=".cycle-next" data-cycle-auto-height="calc">
          <div class="slide">
            <div class="slide-photo">
              <img src="/assets/img/word2vec_playground.png" width="719" height="500" alt="">
            </div>
            <h3>word2vec playground</h3>
            <div class="date">September 2013</div>
            <p>word2vec playground is a web searvice to find the related words using word2vec. (<a href="http://fz-qqq.hatenablog.com/entry/2013/09/03/060330">blog</a>)</p>
            <div class="center">
              <a href="http://deeplearner.fz-qqq.net" class="btn-2">View site</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
