---
title: 藤川和樹 | Kazuki Fujikawa
navbar:
  about: 自己紹介
  resume: 経歴
  softwares: ソフトウェア
  contacts: コンタクト
about:
  name: Kazuki Fujikawa
  job: Data Scientist / Software Engineer
  anotherlang:
    name: English
    href: /
  desc: "藤川和樹です。主な研究分野は、機械学習・自然言語処理・データマイニングです。 データサイエンティスト / ソフトウェアエンジニアとして働いています。<br>
  [<a href='http://scholar.google.co.jp/citations?user=1zBYQqoAAAAJ'>profile</a>]"
resume:
  headline: Resume
  publications:
    headline: Publication
    records:
      journals:
        headline: JOURNAL PAPERS
        records:
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - 'NegFinder: A Web Service for Identifying Negation Signals and Their Scopes.'
            - IPSJ Transactions on Bioinformatics.
            - '[<a href="https://www.jstage.jst.go.jp/article/ipsjtbio/6/0/6_29/_pdf">pdf</a>]'
      international_conferences:
        headline: INTERNATIONAL CONFERENCE PAPERS (REVIEWED)
        records:
          - - Akira Yoshihara, <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - Predicting Stock Market Trends by Recurrent Deep Neural Networks.
            - 'In Proceedings of PRICAI 2014: Trends in Artificial Intelligence , pp. 759769, 2014.'
            - '[<a href="http://link.springer.com/chapter/10.1007/978331913560160">link</a>]'
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - A Hybrid Approach to Finding Negated and Uncertain Expressions in Biomedical Documents.
            - In Proceedings of the 2nd International Workshop on Managing Interoperability and compleXity in Health Systems, pp. 6774, October 2012.
            - '[<a href="http://dl.acm.org/citation.cfm?id=2389685">pdf</a>], [<a href="/assets/docs/MIXHS.pdf">presentation</a>]'
      domestic_conferences:
        headline: DOMESTIC CONFERENCE
        records:
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - Financial Trend Prediction and Analysis through Textual Data.
            - 第28回人工知能学会全国大会（JSAI2014）
            - '[<a href="https://kaigi.org/jsai/webprogram/2014/pdf/755.pdf">pdf</a>]'
          - - Akira Yoshihara, <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - Estimating the Trend of Economic Indicators by Deep Learning.
            - 第28回人工知能学会全国大会（JSAI2014）
            - '[<a href="https://kaigi.org/jsai/webprogram/2014/pdf/774.pdf">pdf</a>]'
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - Generating Unified Representation for MultiDocuments by Deep Neural Network and its Application to Stock Price Prediction.
            - 人工知能学会 金融情報学研究会(SIGFIN), January 2014.
            - '[<a href="http://sigfin.org/?plugin=attach&refer=SIGFIN01203&openfile=SIGFIN01203.pdf">pdf</a>]'
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - 'NegFinder: A Web Service for Identifying Negation Signals and Their Scopes.'
            - 情報処理学会 第34回BIO研究発表会, June 2012.
            - '[<a href="http://ci.nii.ac.jp/naid/170000077272">pdf</a>]'
          - - Sayaka Kitaguchi, Koji Kumanami, <u>Kazuki Fujikawa</u>, Taiki Miyanishi.
            - 'Twitterを利用した震災情報検索支援システム. 東日本大震災ビッグデータワークショップ - Project 311 - .'
            - 2012年10月.
            - '[<a href="https://sites.google.com/site/prj311/event/presentationSession/presentationSession2#TOCTwitter-">リンク</a>]'
      theses:
        headline: THESES
        records:
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - Generating Unified Representation for MultiDocuments by Deep Neural Network and its Application to Stock Price Prediction.
            - February 2014.
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - 医療文書を対象とした否定・不確実表現の検出とその影響範囲の推定.
            - February 2012.
  biography:
    headline: Biography
    records:
      - between: 2012 - 2014
        img: /assets/img/shizenkagaku.jpg
        overview:
          headline: 神戸大学システム情報学研究科
          content: 計算科学専攻, 博士課程前期
        detail:
          headline: '研究テーマ:'
          content: '<ul>
            <li>深層学習のテキストマイニングへの応用</li>
            <li>ニュース記事を用いた株価の上下落の予測</li>
            <li>医療文献における否定表現の検出とその影響範囲の推定</li>
            </ul>'
      - between: 2008 - 2012
        img: /assets/img/kobeuniv-logo.jpg
        overview:
          headline: 神戸大学工学部 
          content: 情報知能工学科
        detail:
          headline: '研究テーマ:'
          content: '<ul><li>医療文献における否定表現の検出とその影響範囲の推定</li></ul>'
softwares:
contacts:
---
