---
title: Kazuki Fujikawa | 藤川和樹
navbar:
  about: About me
  resume: Resume
  contacts: Contacts
about:
  name: Kazuki Fujikawa
  job: Machine Learning Engineer
  anotherlang:
    name: Japanese
    href: /ja
  desc: "Hi, I'm Kazuki Fujikawa, a machine learning engineer at DeNA. My research interests include machine learning and its application in natural language processing."
resume:
  headline: Resume
  publications:
    headline: Publication
    records:
      journals:
        headline: JOURNAL PAPERS
        records:
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - 'NegFinder: A Web Service for Identifying Negation Signals and Their Scopes.'
            - IPSJ Transactions on Bioinformatics.
            - '[<a href="https://www.jstage.jst.go.jp/article/ipsjtbio/6/0/6_29/_pdf">pdf</a>]'
      international_conferences:
        headline: INTERNATIONAL CONFERENCE PAPERS (REVIEWED)
        records:
          - - Akira Yoshihara, <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - Predicting Stock Market Trends by Recurrent Deep Neural Networks.
            - 'In Proceedings of PRICAI 2014: Trends in Artificial Intelligence , pp. 759769, 2014.'
            - '[<a href="http://link.springer.com/chapter/10.1007/978331913560160">link</a>]'
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - A Hybrid Approach to Finding Negated and Uncertain Expressions in Biomedical Documents.
            - In Proceedings of the 2nd International Workshop on Managing Interoperability and compleXity in Health Systems, pp. 6774, October 2012.
            - '[<a href="http://dl.acm.org/citation.cfm?id=2389685">pdf</a>], [<a href="/assets/docs/MIXHS.pdf">presentation</a>]'
      domestic_conferences:
        headline: DOMESTIC CONFERENCE
        records:
          - - Koichi Hamada, <u>Kazuki Fujikawa</u>, Sosuke Kobayashi, Yuta Kikuchi, Yuya Unno and Masaaki Tsuchida.
            - 対話返答生成における個性の追加反映
            - 第232回自然言語処理研究会 (SIG-NL)
            - '[<a href="https://www.slideshare.net/hamadakoichi/neural-dialogue-generation">slide</a>]'
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - Financial Trend Prediction and Analysis through Textual Data.
            - 第28回人工知能学会全国大会（JSAI2014）
            - '[<a href="https://kaigi.org/jsai/webprogram/2014/pdf/755.pdf">pdf</a>]'
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - Generating Unified Representation for MultiDocuments by Deep Neural Network and its Application to Stock Price Prediction.
            - 人工知能学会 金融情報学研究会(SIGFIN), January 2014.
            - '[<a href="http://sigfin.org/?plugin=attach&refer=SIGFIN01203&openfile=SIGFIN01203.pdf">pdf</a>]'
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - 'NegFinder: A Web Service for Identifying Negation Signals and Their Scopes.'
            - 情報処理学会 第34回BIO研究発表会, June 2012.
            - '[<a href="http://ci.nii.ac.jp/naid/170000077272">pdf</a>]'
          - - Sayaka Kitaguchi, Koji Kumanami, <u>Kazuki Fujikawa</u>, Taiki Miyanishi.
            - 'Twitterを利用した震災情報検索支援システム. 東日本大震災ビッグデータワークショップ - Project 311 - .'
            - 2012年10月.
            - '[<a href="https://sites.google.com/site/prj311/event/presentationSession/presentationSession2#TOCTwitter-">リンク</a>]'
      theses:
        headline: THESES
        records:
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - Generating Unified Representation for MultiDocuments by Deep Neural Network and its Application to Stock Price Prediction.
            - February 2014.
          - - <u>Kazuki Fujikawa</u>, Kazuhiro Seki, and Kuniaki Uehara.
            - 医療文書を対象とした否定・不確実表現の検出とその影響範囲の推定.
            - February 2012.
  biography:
    headline: Biography
    records:
      - between: 2014 - current
        overview:
          headline: Machine Learning Engineer
          content: DeNA Co., Ltd.
        detail:
          content: '<ul>
            <li>AI-driven drug discovery</li>
            <li>Open domain chatbot</li>
            <li>Image-based fashion item recomendation</li>
            </ul>'
      - between: 2012 - 2014
        overview:
          headline: M.E. In Computer Science
          content: Graduate School of Engineering, Kobe University, Japan
        detail:
          content: '<ul>
            <li>Deep Learning for Text Mining</li>
            <li>Stock price prediction (Text mining approach using web news articles)</li>
            <li>Text Mining (Finding Negated expressions using a classifier and heuristics)</li>
            </ul>'
      - between: 2008 - 2012
        img: /assets/img/kobeuniv-logo.jpg
        overview:
          headline: B.E. In Computer Science
          content: Department of Computer Science and System Engineering, Kobe University, Japan
        detail:
          content: '<ul><li>Text Mining (Finding Negated expressions using a classifier and heuristics)</li></ul>'
  competitions:
    headline: Machine Learning Competitions
    records:
      international_competitions:
        headline: International Competitions (Kaggle)
        records:
          - - Predicting Molecular Properties (2019.08)
            - 13th place (team)
            - '[<a href="https://www.kaggle.com/c/champs-scalar-coupling/discussion/106377#latest-615268">link</a>]'
          - - Quora Insincere Questions Classification (2019.02)
            - 4th place (solo)
            - '[<a href="https://www.kaggle.com/c/quora-insincere-questions-classification/discussion/81632">link</a>]'
      domestic_competitions:
        headline: Domestic Competitions (SIGNATE)
        records:
          - - "Bayer: Medical Text Mining Challenge (2017.07)"
            - 1st place (solo)
            - '[<a href="https://www.g4atokyo.jp/history/theme03.php">link</a>]'
softwares:
contacts:
---
